* {
    font-family: Arial, Helvetica, sans-serif;
}

body { 
    background-color: #a2a0a0;
} 

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.main-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


}

h1 {
    border-style: outset;
    border-color: #444444;
    width: fixed;
    text-align: center;
    background-color: #cccdcd;
}

section {
    display: flex;
    width: fit-content;
}

label {
    width: 15vw;
    height: 10vh;
}

.left-hand-labels {
    background-color: #cccdcd;
    text-align: center;
    margin-right: 10px;
}

.right-hand-labels {
    background-color: #ffffff;
}

h3 {
    
    border-style: groove;
    border-color: grey;
    width: 15vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

#tillStatusOut {
    background-color: #ffffff;
}

.buttons-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    width: 15vw;
    height: 10.5vh;
    font-weight: bold;
    font-size: large;
    padding: 1px;
    margin: 6px;
    border-style: groove;
    border-color: grey;
    border-width: thick;
}


aside {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

h2 {
    border-style: outset;
    border-color: #444444;
    text-align: center;
    background-color: #cccdcd;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #cccdcd;
  }

th, td {
padding: 5px;
text-align: center;
}

.no-notes {
    background-color: #ffffff;
}

footer {
    justify-content: center;
    text-align: center;   
}

.credit {
    font-size: xx-small;
    color: #000000;    
}