* {
    font-family: Helvetica, Arial, Helvetica, sans-serif;
}

body { 
    background-image: url(https://img.freepik.com/free-photo/metal-plate-texture_1048-2443.jpg?w=740&t=st=1675719136~exp=1675719736~hmac=f53d3ec49c96e137cd80d8cc8a9ec89bfbcab5ebb323098885a7a6f0f914b0dc);
} 

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.main-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1 {
    border-style: outset;
    border-color: #444444;
    width: fixed;
    text-align: center;
    text-shadow: #141741 3px 3px 5px;
    background-image: url(https://img.freepik.com/free-vector/metallic-texture-background_52683-25383.jpg?w=996&t=st=1675718702~exp=1675719302~hmac=48162451a861d6886f67eed7814e7d7fcdf26e7361c265f914b33ca6a41db47c);
    background-size: cover;
}

section {
    display: flex;
    width: fit-content;
}

label {
    width: 15vw;
    height: 10vh;
}

.left-hand-labels {  
    background-image: linear-gradient(to bottom right, #141741, #2a8fc6);  
    text-align: center;
    margin-right: 10px;
    color: #ffffff;  
}

.right-hand-labels {
    background-image: radial-gradient(#ffffff, #d1d2d2);
}

h3 {
    
    border-style: groove;
    border-color: grey;
    width: 15vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

#tillStatusOut {
    background-color: #ffffff;
}

.buttons-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    width: 15vw;
    height: 10.5vh;
    font-weight: bold;
    font-size: large;
    padding: 1px;
    margin: 6px;
    border-style: groove;
    border-color: grey;
    border-width: thick;
}

#next {
    background-image: linear-gradient(to bottom right, #184114, #5ec62a);
}

#reset {
    background-image: linear-gradient(to bottom right, #541010, #a26868);
}
aside {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

h2 {
    border-style: outset;
    border-color: #444444;
    text-align: center;
    text-shadow: #141741 2px 2px 4px;
    background-image: url(https://img.freepik.com/free-vector/metallic-texture-background_52683-25383.jpg?w=996&t=st=1675718702~exp=1675719302~hmac=48162451a861d6886f67eed7814e7d7fcdf26e7361c265f914b33ca6a41db47c);
    background-color: #cccdcd;
    font-size: x-large;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #cccdcd;
  }

th, td {
padding: 5px;
text-align: center;
}

th {
    background-image: radial-gradient(#2a8fc6, #141741);
    color: #ffffff;
}

td {
    font-weight: bold;
}

.notes {
    background-image: radial-gradient(#d1d2d2, #676767);
    
}

.no-notes {
    background-image: radial-gradient(#ffffff, #d1d2d2);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #c0c0c0;
    text-align: center;
}

.credit {
    font-size: xx-small;
}
 
a, a:link {
    text-decoration: none;
}

a:visited {
    color: #c0c0c0;
}